<footer>
  <div>
    <div>
      <div>
        <address>
          Atlanta, GA <br>
          <a href="tel:18003910436">1-800-391-0436</a> <br>
          <a href="mailto:customerservice@lococookers.com">customerservice@lococookers.com</a>
        </address>
        <div>
          <p><time datetime="Mo,Fr 8:00-17:00">Monday - Friday: <br> 8am - 5pm <abbr
                title="Eastern Standard Time">EST</abbr></time></p>
        </div>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Instruction Manuals</a>
          </li>
          <li>
            <a href="#">Send Us a Message</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Shop</h3>
        <ul>
          <li>
            <a href="#">Fyers</a>
          </li>
          <li>
            <a href="#">Cart Boilers</a>
          </li>
          <li>
            <a href="#">Boilng Kits</a>
          </li>
          <li>
            <a href="#">Pots</a>
          </li>
          <li>
            <a href="#">Stands</a>
          </li>
          <li>
            <a href="#">Swag</a>
          </li>
          <li>
            <a href="#">Accessories</a>
          </li>
          <li>
            <a href="#">Griddles</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Here for you</h3>
        <ul>
          <li>
            <a href="#">LoCo Cookers Blog</a>
          </li>
          <li>
            <a href="#">Brand Ambassadors</a>
          </li>
          <li>
            <a href="#">Register Your Cooker</a>
          </li>
          <li>
            <a href="#">Shipping & Returns</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Newsletter</h3>
        <p>Crank it up with tips and recipes by subscribing</p>
        <form>
          <label for="footerNewsletter"> Your email address
          </label>
          <input id="footerNewsletter" name="footerNewsletter" type="email" placeholder="Email">
          <button type="submit">Subscribe</button>
        </form>
        <ul>
          <li>
            <a href="#">
              <span>Instagram</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p>&#169; 2022 LoCo Cookers. All rights reserved.</p>
    </div>
  </div>
</footer>