<header>
  <div>
    <div>
      <p>Get 10% off your first order. Valid Now thru 4/24. <a href="#">Shop Now</a></p>
    </div>
  </div>
  <div>
    <a href="#">
      <span>LoCo Cookers</span>
      <svg width="99" height="50" viewBox="0 0 99 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M44.6719 15.339C44.7662 14.8515 44.8138 14.3561 44.8139 13.8596C44.7897 9.35542 41.1032 4.91019 33.273 4.95177C23.9563 4.99681 20.211 8.93273 19.1542 15.0826L16.8467 28.7128C16.7497 29.2186 16.7021 29.7326 16.7047 30.2477C16.7255 34.7102 20.0689 39.003 27.8472 38.9614C37.6108 38.9129 41.3042 35.1294 42.3644 28.8306L44.6719 15.339ZM28.9559 32.5171C25.3873 32.5344 24.1053 31.4014 24.0811 29.4196C24.0918 29.0382 24.123 28.6577 24.1746 28.2797L26.3401 15.682C26.8251 13.0523 28.7965 11.4065 32.5766 11.3892C36.0932 11.3892 37.4272 12.6019 37.4479 14.6356C37.4402 14.9677 37.4089 15.2989 37.3544 15.6266L35.189 28.2243C34.7074 31.048 32.7325 32.4963 28.9525 32.5171"
          fill="#D2451E" />
        <path
          d="M30.844 41.158L23.1385 42.7206L9.94135 42.8038L17.5811 0.0110646H9.39393L6.94784 0.00413513L8.16395 6.92317L0.5 50L29.2329 49.8683L29.5066 48.3473L30.844 41.158Z"
          fill="#D2451E" />
        <path
          d="M96.0328 15.4984C96.1248 15.0082 96.1712 14.5107 96.1714 14.012C96.1506 9.50786 92.4606 5.06263 84.6304 5.10074C75.3172 5.14924 71.5719 9.08516 70.5117 15.2316L68.2042 28.8722C68.1071 29.378 68.0595 29.892 68.0621 30.407C68.0864 34.8661 71.4264 39.1624 79.2046 39.1208C88.9682 39.0723 92.6651 35.2853 93.7218 28.99L96.0328 15.4984ZM80.3133 32.673C76.7447 32.6937 75.4627 31.5608 75.442 29.579C75.4492 29.1963 75.4805 28.8144 75.5355 28.4356L77.701 15.8414C78.1826 13.2116 80.154 11.5659 83.9374 11.5486C87.4576 11.5278 88.788 12.7612 88.8123 14.7915C88.8015 15.1248 88.7691 15.4569 88.7153 15.7859L86.5498 28.3802C86.0717 31.2074 84.0968 32.6556 80.3307 32.673"
          fill="#D2451E" />
        <path
          d="M53.8569 26.9527L56.445 12.5048C57.2592 8.02149 58.7872 6.70837 63.4056 6.73262C63.7521 6.73262 64.1297 6.75341 64.5386 6.78459L68.8695 9.70188L69.9505 5.82486L71.2255 1.37963C69.3823 0.62779 66.018 0.000676062 63.5754 0.000676062C54.6641 -0.04783 50.361 2.5022 48.7256 11.4065L45.9088 27.2022L45.6143 28.8202C45.4067 29.8637 45.2908 30.9233 45.2678 31.9869C45.2367 37.1355 48.0604 39.9904 54.924 40.0285C58.6873 40.018 62.4054 39.2066 65.8309 37.6483L65.0756 31.2386C62.4286 32.1498 58.1982 33.2481 55.6239 33.2342C53.7737 33.2342 53.1986 32.3611 53.1986 31.1069C53.2181 30.7299 53.2644 30.3548 53.3372 29.9843L53.8569 26.9527Z"
          fill="#D2451E" />
        <path
          d="M44.6542 47.4222C44.973 45.7938 45.5932 44.8618 47.1072 44.8618C48.6213 44.8618 48.8881 45.7869 48.5693 47.4222C48.2506 49.0576 47.6443 49.9272 46.1198 49.9272C44.5953 49.9272 44.3355 49.0645 44.6542 47.4222ZM47.8521 47.4222C48.0912 46.2061 47.9907 45.527 46.9756 45.527C45.9604 45.527 45.5897 46.1992 45.3645 47.4222C45.1393 48.6453 45.2328 49.262 46.2515 49.262C47.2701 49.262 47.6096 48.6834 47.8521 47.4222Z"
          fill="#D2451E" />
        <path
          d="M38.1336 49.7575C37.6767 49.85 37.2133 49.9068 36.7477 49.9272C35.2682 49.9272 35.1054 49.0507 35.4276 47.4015C35.7741 45.6691 36.3076 44.8618 37.7316 44.8618C38.1801 44.8737 38.6261 44.9329 39.0621 45.0385L38.9235 45.6518C38.5138 45.589 38.1008 45.5497 37.6866 45.534C36.7096 45.534 36.3977 46.071 36.1413 47.4015C35.885 48.7319 35.9577 49.2551 36.9763 49.2551C37.3921 49.2551 38.2444 49.1373 38.2444 49.1373L38.1336 49.7575Z"
          fill="#D2451E" />
        <path
          d="M39.7172 47.4222C40.0325 45.7938 40.6527 44.8618 42.1703 44.8618C43.6878 44.8618 43.9477 45.7869 43.6324 47.4222C43.3171 49.0576 42.7038 49.9272 41.1828 49.9272C39.6618 49.9272 39.3985 49.0645 39.7172 47.4222ZM42.9152 47.4222C43.1542 46.2061 43.0503 45.527 42.0386 45.527C41.0269 45.527 40.6527 46.1992 40.424 47.4222C40.1954 48.6453 40.2924 49.262 41.3145 49.262C42.3366 49.262 42.6726 48.6834 42.9152 47.4222Z"
          fill="#D2451E" />
        <path
          d="M51.2648 47.7999L50.4922 47.8449L50.0937 49.8822H49.4077L50.364 44.9692H51.05L50.6204 47.1797L51.3791 47.1347L52.8967 44.9692H53.697L51.937 47.4257L52.8066 49.8822H51.9993L51.2648 47.7999Z"
          fill="#D2451E" />
        <path
          d="M54.7506 44.9692H57.7719L57.6437 45.6275H55.3015L55.0174 47.1H56.9334L56.8087 47.7444H54.8927L54.6051 49.2239H56.9473L56.8191 49.8822H53.7979L54.7506 44.9692Z"
          fill="#D2451E" />
        <path
          d="M60.4189 48.1117H59.182L58.8355 49.8822H58.1426L59.0988 44.9692H60.9317C62.0127 44.9692 62.4492 45.4231 62.2379 46.5041C62.2056 46.8217 62.0845 47.1237 61.8884 47.3756C61.6923 47.6275 61.4292 47.819 61.1292 47.9281L61.6177 49.8926H60.8624L60.4189 48.1117ZM60.8104 45.6206H59.6671L59.3206 47.4603H60.4743C60.6066 47.4697 60.7395 47.4529 60.8652 47.4107C60.9909 47.3685 61.1071 47.3019 61.2069 47.2146C61.3068 47.1273 61.3884 47.0211 61.447 46.9021C61.5056 46.7832 61.54 46.6538 61.5484 46.5214C61.6697 45.9116 61.4341 45.6206 60.8243 45.6206"
          fill="#D2451E" />
        <path
          d="M66.4889 45.6691C66.4889 45.6691 65.5188 45.5513 65.103 45.5513C64.4655 45.5513 64.0982 45.7626 64.0082 46.2442C63.9181 46.7258 64.1745 46.8817 64.9679 47.0862C65.9138 47.3495 66.2602 47.6093 66.0939 48.472C65.8895 49.5115 65.1654 49.9549 64.1745 49.9549C63.6852 49.9322 63.198 49.8778 62.7158 49.7921L62.9064 49.1719C62.9064 49.1719 63.7968 49.2897 64.2923 49.2897C64.9298 49.2897 65.2832 49.0714 65.394 48.4928C65.4876 48.0251 65.2658 47.8761 64.5383 47.6994C63.5439 47.4569 63.1247 47.1658 63.3048 46.2546C63.485 45.3434 64.2056 44.8895 65.2243 44.8895C65.7112 44.9059 66.1963 44.9568 66.676 45.042L66.4889 45.6691Z"
          fill="#D2451E" />
        <path
          d="M96.7185 3.93312C96.9534 3.93013 97.1864 3.97495 97.4034 4.06484C97.6205 4.15473 97.8169 4.28782 97.9809 4.45601C98.1449 4.62421 98.273 4.824 98.3573 5.04324C98.4417 5.26247 98.4806 5.49658 98.4716 5.73131C98.4806 5.96605 98.4417 6.20015 98.3573 6.41939C98.273 6.63862 98.1449 6.83841 97.9809 7.00661C97.8169 7.17481 97.6205 7.3079 97.4034 7.39779C97.1864 7.48768 96.9534 7.53249 96.7185 7.5295C96.4853 7.52967 96.2546 7.48277 96.04 7.39163C95.8254 7.30048 95.6314 7.16696 95.4696 6.99905C95.3079 6.83115 95.1817 6.63233 95.0986 6.41449C95.0155 6.19665 94.9773 5.96429 94.9861 5.73131C94.9773 5.49834 95.0155 5.26597 95.0986 5.04813C95.1817 4.8303 95.3079 4.63147 95.4696 4.46357C95.6314 4.29567 95.8254 4.16214 96.04 4.071C96.2546 3.97985 96.4853 3.93296 96.7185 3.93312ZM96.7185 7.23846C96.9133 7.2367 97.1059 7.1961 97.2848 7.11904C97.4638 7.04198 97.6256 6.93001 97.7608 6.78967C97.8959 6.64934 98.0018 6.48345 98.0721 6.30173C98.1424 6.12 98.1757 5.92608 98.1702 5.73131C98.1762 5.53609 98.1432 5.34163 98.0732 5.1593C98.0031 4.97698 97.8974 4.81046 97.7622 4.66948C97.627 4.52849 97.4651 4.41588 97.2859 4.33823C97.1067 4.26058 96.9138 4.21944 96.7185 4.21723C96.5235 4.21893 96.3308 4.2598 96.1519 4.33741C95.9731 4.41502 95.8116 4.52779 95.6772 4.66902C95.5427 4.81026 95.438 4.97707 95.3693 5.15956C95.3006 5.34204 95.2692 5.53648 95.2771 5.73131C95.2716 5.92522 95.3047 6.11829 95.3743 6.29934C95.444 6.48039 95.5489 6.64581 95.6829 6.78601C95.817 6.9262 95.9776 7.03839 96.1554 7.11606C96.3331 7.19373 96.5245 7.23533 96.7185 7.23846ZM96.7462 5.9877H96.3651V6.77073H95.9874V4.6919H96.6804C97.2139 4.6919 97.4565 4.8582 97.4565 5.31901C97.4565 5.64123 97.3802 5.83179 97.1273 5.93919L97.5119 6.77073H97.0961L96.7462 5.9877ZM96.3651 5.67241H96.7531C96.9818 5.67241 97.0996 5.59272 97.0996 5.32594C97.0996 5.05916 96.9679 4.99679 96.6908 4.99679H96.3755L96.3651 5.67241Z"
          fill="#D2451E" />
      </svg>

    </a>

    <div>
      <button>
        <span>Toggle Main Menu</span>
      </button>
      <nav>
        <div></div>
        <ul>
          <li>
            <div>
              <a href="#">
                <span>Shop All</span>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <span>Griddles</span>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <span>LoCo Team</span>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <span>Media</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <ul>
        <li>
          <button>
            <span>Search</span>
          </button>
        </li>
        <li>
          <a href="#">
            <span>Account</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>