
.grid {

    display: flex; 
    flex-direction: column;
    width: 100%; 

    @media (min-width: $bkp-desktop) {
        flex-direction: row; 
    }

    &__item {

        

        @media (min-width: $bkp-desktop) {
            max-width: 33.333%;
            flex-basis: 33.333%; 
        }

        &--1of2 {

            @media (min-width: $bkp-desktop) {
                max-width: 50%;
            flex-basis: 50%;
            }
           
            
        }
        

        &--1of3 {
            

            @media (min-width: $bkp-desktop) {
                max-width: 33.333%;
            flex-basis: 33.333%;
            }
        }

        &--2of3 {
            

            @media (min-width: $bkp-desktop) {
                max-width: 66.6666%;
            flex-basis: 66.6666%;
            }
        }
        
    }

    &__item + &__item {

        margin-top: $spacing-lg;

        @media (min-width: $bkp-desktop) {
            margin-top: 0; 
        }

        > .card {
            border-left-width: 1px;
        }

    }

}

ul.grid {
    list-style: none;
    padding: 0; 
    margin: 0;
}