.eyebrow {
    color: $color-orange;
    display: block; 
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    font-family: $font-body;
    font-weight: 700;
}