.prose {

  

    &--lg {
        
        p {
            font-size: 1.125rem;
        }

    }

    &--center {
        margin-left: auto; 
        margin-right: auto;
        text-align: center;
    }
  
    
}