.flexEmbed {

    $c: &;

    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;

    &__ratio {
        display: block;
        padding-bottom: 100%;
        width: 100%;

        &--hero {
            padding-bottom: 44vh;

            @media (min-width: $bkp-wide) {
                padding-bottom: 44%;
            }

        }

        &--banner {
            padding-bottom: 44vh;

            @media (min-width: $bkp-wide) {
                padding-bottom: 38%;
            }
        }

        &--square {
            padding-bottom: 100%;
        }
    }

    &__content {
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: cover;
        object-position: 33% 33%;
    }
    img#{$c}__content {
        height: 100%;
    }
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .flexEmbed {
        $c: &;

        img#{$c}__content {
            height: 100%;
        }
    }
}