.btn {
    
    @include basic-transition((transform, color, border-color, background-color));
  
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-family: $font-display;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: $letter-spacing;
    color: $color-dark;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  
    @include on-event {
      color: $color-grey;
      border-color: currentColor;
    }
  
    &:active {
      transform: translateY(1px);
    }
  
    & + & {
      margin-bottom: $spacing-unit;
    }
  
    @include mq($from: desktop) {
      padding-right: 2em;
      padding-left: 2em;
    }
  }
  
  .btn--block {
    display: block;
    width: 100%;
  }
  
  .btn--lg {
    padding-top: 20px;
    padding-bottom: 19px;
  
    @include mq($from: desktop) {
      font-size: 13px;
    }
  }
  
  .btn--primary {
    border-color: $color-orange;
    color: #fff;
    background-color: $color-orange;
  
    @include on-event {
      border-color: $color-dark;
      color: #fff;
      background-color: $color-dark;
    }
  }
  
  .btn--secondary {
    border-color: $color-black;
    background-color: $color-black;
    color: $color-white;
  
    @include on-event {
      border-color: $color-dark;
      background-color: $color-dark;
      color: $color-white;
    }
  }

  .btn--inverse {
    border-color: $color-white;
    color: $color-orange;
    background: $color-white;
  
    @include on-event {
      border-color: $color-dark;
      background: $color-dark;
      color: $color-white;
    }
  }


  .btn--link { 
    border-width: 0;
    color: $color-orange;
    font: inherit;
    padding: 0;
    font-weight: 700;
    letter-spacing: normal;
  }