.featurette {

    padding: $spacing-2xl*2 0;
    overflow-x: hidden;
    position: relative;

    &__panel {
        position: absolute;
        bottom: 0; 
        right: 0; 
        height: 33.333%; 
        width: 100%;
        z-index: 1;
        background-color: $color-orange;

        @media (min-width: $bkp-desktop) {
            width: 33.333%;
            height: 100%;
        }
    }

    &__content {

       padding: 0 $spacing-lg;

        @media (min-width: $bkp-desktop) {
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            align-items: center;
            margin-left: -$spacing-xl;
            margin-right: -$spacing-xl;
            box-sizing: border-box;
            position: relative;
            z-index: 2;
        }
    }

    &__media {

        @media (min-width: $bkp-desktop) {
            flex-basis: 50%;
            max-width: 50%;
            flex: 0 0 auto;
            padding-right: $spacing-xl;
            padding-left: $spacing-xl;

        }

    }

    &__text {

        margin-bottom: $spacing-2xl;

        @media (min-width: $bkp-desktop) {
            flex-basis: 50%;
            max-width: 50%;
            flex: 0 0 auto;
            padding-right: $spacing-xl;
            padding-left: $spacing-xl;
            margin-bottom: 0;
        }



    }

}