.ambassadors {

    &__content {
        padding-left: $spacing-lg;
        padding-right: $spacing-lg;
    }

    &__text {

        .btn + .btn {
            margin-top: $spacing-lg;
        }

    }

}