.card {

    position: relative;
    border: 2px solid $color-grey;
    background: $color-white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

    &--filled {
        background: $color-l-grey;
    }

    &__header {

    }

    &__header + &__body {
        border-top: 2px solid $color-grey;
        padding: $spacing-lg;
    }

    &__body {
        padding: $spacing-lg;
        flex: 0 0 auto;
    }

}