.marquee {
    overflow: hidden;
    padding: $spacing-2xl 0;
    background-color: $color-sand;
}


.marquee__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start
}

.marquee__content:hover>.list>li,
.marquee__content:hover>.list>li a {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.marquee__content>.list>li,
.marquee__content>.list>li {
    margin-left: 0;
    display: flex;
    align-items: center;
    -webkit-animation: marquee var(--marquee-speed, 8s) linear infinite;
    animation: marquee var(--marquee-speed, 8s) linear infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    color: var(--marquee-text-color, #fff);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transform: translateX(0%);
    white-space: nowrap;
    will-change: transform;
    font-family: SofiaPro-Regular, helvetica, arial, sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem
}

.marquee__content svg {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 18px;
    margin-right: 16px;
    vertical-align: middle
}

@media screen and (min-width: 750px) {
    .marquee__content svg {
        top: 0;
        margin-right: 30px
    }
}

.marquee__content svg:last-of-type {
    margin: 0 16px
}

@media screen and (min-width: 750px) {
    .marquee__content svg:last-of-type {
        margin: 0 36px
    }
}

.marquee__content svg path {
    fill: var(--marquee-text-color, #fff)
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes marquee {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}