@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin text-opacity($color, $opacity: 0.3) { /* The Fallback */
    color: rgba($color, $opacity);
}

