---
layout: layouts/base.liquid
---

{% comment %} Hero Section : BEGIN {% endcomment %}
<section class="lead">
  <div class="lead__overlay"></div>

  <div class="flexEmbed">
    <div class="flexEmbed__ratio flexEmbed__ratio--banner"></div>
    <img class="flexEmbed__content" src="/assets/images/about.jpg" alt="placeholder" />
  </div>
  <div class="lead__content">
    <div class="lead__text">
      <div class="prose">
        <h1 class="heading heading--display">
          Everyone Has A Seat At The Table
        </h1>
      </div>
    </div>
  </div>
</section>
{% comment %} Hero Section : END {% endcomment %}

{% comment %} Image / Media Section : BEGIN {% endcomment %}
<section class="featurette">
  <div class="featurette__panel"></div>
  <div class="container">
    <div class="featurette__content">

      <div class="featurette__text">
        <div class="prose prose--lg">
          <h2 class="heading heading--two">
            Pull Up A Chair & Go LoCo With Us
          </h2>
          <div class="groove groove--blue"></div>
          <p class="text text--lg">We’ve spent the last 25+ years combined in the outdoor cooking industry, but we cut our teeth (literally) on rib bones and ice-cold pull-top cans on the porch with family and friends. If there’s one thing that rings in our ears from childhood, it’s the voices of our grandparents, aunts, uncles, neighbors and friends saying, “Pull up a chair and take a seat.” Our best memories, toughest lessons, favorite stories and secret recipes were discovered sitting around tables. Based solely on our experiences, we believe inviting somebody to pull up a chair might just be the simplest way to make the world a better place…and that is something we can all do.</p>
          <p>We’re simple people from East Texas and South Alabama who appreciate the finer things in life. In everything we do, whether it’s work or play, excellence is our standard. We don’t settle for ‘good enough’ and believe you shouldn’t have to, either. That’s why we build each of our products with YOU in mind. Cultivating great experiences is part of our DNA, which is why we focus on functionality and usability when developing our products, hoping to make your experience as good as it should be. So feel free to pull up a chair and go #LoCo with us. </p>
        </div>
      </div>
      <div class="featurette__media">
        <figure class="figure">
          <img class="figure_img" src="/assets/images/about-cook.jpg" alt="placeholder" />
        </figure>
      </div>
    </div>
  </div>
</section>
{% comment %} Image / Media Section : END {% endcomment %}

<section class="marquee">
<div class="marquee__content">
  <ul class="list list--inline">
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>

    </li>
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>
    </li>
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>
    </li>
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>
    </li>
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>
    </li>
    <li class="list__item list__item--inline">
      <h2 class="heading heading--two">
      <a href="#">Boiling Kits
      </a>
      </h2>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="10" cy="10" r="10" fill="black"/>
</svg>
    </li>
  </ul>
</div>
</section>

