---
layout: layouts/base.liquid
---

<section>
  <div>
    <h1>
      <span>LoCo Cookers: </span>
      Everyone has a seat at the table.
    </h1>
    <h2> So feel free to pull up a chair and go LoCo with us.</h2>
    <p>We’ve spent the last 25+ years combined in the outdoor cooking industry, but we cut our teeth (literally) on rib bones and ice-cold pull-top cans on the porch with family and friends. If there’s one thing that rings in our ears from childhood, it’s the voices of our grandparents, aunts, uncles, neighbors and friends saying, “Pull up a chair and take a seat.” Our best memories, toughest lessons, favorite stories and secret recipes were discovered sitting around tables. Based solely on our experiences, we believe inviting somebody to pull up a chair might just be the simplest way to make the world a better place…and that is something we can all do.</p>
    <p>We’re simple people from East Texas and South Alabama who appreciate the finer things in life. In everything we do, whether it’s work or play, excellence is our standard. We don’t settle for ‘good enough’ and believe you shouldn’t have to, either. That’s why we build each of our products with YOU in mind. Cultivating great experiences is part of our DNA, which is why we focus on functionality and usability when developing our products, hoping to make your experience as good as it should be. So feel free to pull up a chair and go #LoCo with us.</p>
  </div>
</section>