---
layout: layouts/base.liquid
---

{% comment %} Hero Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      {% image "./src/images/griddle-001.jpg", "photo of my cat", "(max-width: 752px), 100vw" %}
      
    </div>
    <div>
      <h1>
        <span>Whatcha Griddlin? </span>
        The SmartTemp Griddle
      </h1>
      <p>Featuring thermostat temperature control with digital display</p>
      <a href="#"><span>Show Now</span></a>
    </div>
  </div>
</section>
{% comment %} Hero Section : END {% endcomment %}

{% comment %} Image / Media Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      <div>
        <div>
          <img src="https://via.placeholder.com/720x720" alt="placeholder" />
          <button>
            <span>Play Video</span>
          </button>
        </div>
      </div>
      <div>
        <h2>
          <span>Featured Product </span>
          Hey Neighbor, Whatcha' Griddlin?
        </h2>
        <p>Introducing Griddles from LoCo. Your new favorite way to cook. Featuring our SmartTemp technology, making it
          easy to dial in your desired cooking temperature in 25 degree increments and accurately maintain those precise
          cooking temperatures . Take the guesswork out of your griddlin’ so you can easily repeat recipes time and time
          again!</p>
        <a href="#"><span>Shop Now</span></a>
      </div>
    </div>
  </div>
</section>
{% comment %} Image / Media Section : END {% endcomment %}

{% comment %} Full Width Banner w/ Image Background : BEGIN {% endcomment %}
<section>
  <div>
    <div></div>
    <picture>
      <source media="(max-width: 752px)" sizes="100vw" srcset="https://via.placeholder.com/390x470">
      <img src="https://via.placeholder.com/1440x620" alt="Placeholder">
    </picture>
  </div>
  <div>
    <div>
      <h2>Griddle Recipes</h2>
      <p>Your new favorite way to cook</p>
      <a href="#">Browse Recipes</a>
    </div>
  </div>
</section>
{% comment %} Full Width Banner w/ Image Background : END {% endcomment %}

{% comment %} Featured Product Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      <div>
        <h2>
          <span>Popular Products </span>
          Cook Faster. Party Longer
        </h2>
      </div>
      <div>
        <ul>
          <li>
            <div>
              <div>
                <img src="https://via.placeholder.com/350x390" alt="Placeholder">
              </div>
              <div>
                <h3>Boiling Kits</h3>
                <a href="#">Shop Now</a>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <img src="https://via.placeholder.com/350x390" alt="Placeholder">
              </div>
              <div>
                <h3>Cart Boilers</h3>
                <a href="#">Shop Now</a>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <img src="https://via.placeholder.com/350x390" alt="Placeholder">
              </div>
              <div>
                <h3>Pots</h3>
                <a href="#">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% comment %} Featured Product Section : END {% endcomment %}

{% comment %} Full Width Banner w/ Image Background : BEGIN {% endcomment %}
<section>
  <div>
    <div></div>
    <picture>
      <source media="(max-width: 752px)" sizes="100vw" srcset="https://via.placeholder.com/390x470">
      <img src="https://via.placeholder.com/1440x620" alt="Placeholder">
    </picture>
  </div>
  <div>
    <div>
      <h2>Go LoCo!</h2>
      <p>The cookout starts here</p>
      <a href="#">Shop Boiling Kits</a>
    </div>
  </div>
</section>
{% comment %} Full Width Banner w/ Image Background : END {% endcomment %}

{% comment %} Reviews Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      <div>
        <h2>
          <span>Customer Reviews </span>
          Sharing the Passion for #LoCoCookers
        </h2>
      </div>
      <div>
        <ul>
          <li>
            <figure>
              <p>
                <span>
                  <span>
                    5 out of 5 stars
                  </span>
                </span>
              </p>
              <blockquote>
                Easy to assemble, with only a few screws and the lighting mechanism.
              </blockquote>
              <figcaption>
                Sarah | <cite>LoCo 80qt Kit</cite>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <p>
                <span>
                  <span>
                    5 out of 5 stars
                  </span>
                </span>
              </p>
              <blockquote>
                This thing works like a champ! Heats up fast and gets the job done!
              </blockquote>
              <figcaption>
                Karod | <cite>LoCo 80qt Kit</cite>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <p>
                <span>
                  <span>
                    5 out of 5 stars
                  </span>
                </span>
              </p>
              <blockquote>
                Got to boil fast and love the ignition feature.
              </blockquote>
              <figcaption>
                Mike D. | <cite>LoCo 80qt Kit</cite>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% comment %} Featured Product Section : END {% endcomment %}

{% comment %} Brand Ambassador Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      <h2>
        <span>Brand Ambassadors </span>
        Pull Up a Chair and Go #LoCo with Us
      </h2>
    </div>
    <div>
      <ul>
        <li>
          <div>
            <div>
              <img src="https://via.placeholder.com/412x390" alt="Placeholder">
            </div>
            <div>
              <h3>Matt Pittman</h3>
              <p>Founder of Meat Church BBQ</p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <img src="https://via.placeholder.com/412x390" alt="Placeholder">
            </div>
            <div>
              <h3>Big Moe Cason</h3>
              <p>Pitmaster</p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <img src="https://via.placeholder.com/412x390" alt="Placeholder">
            </div>
            <div>
              <h3>Chef Jean-Paul Bourgeois</h3>
              <p>Chef</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <div>
        <p>Our goal is for your platform to share LoCo with anyone and everyone, inviting them to take a seat at your
          table! Whether it's grandparents, aunts, uncles, neighbors or friends, we believe you have the chance to
          create community through our LoCo products.</p>
      </div>
      <div>
        <a href="#">
          <span>View Brand Ambassadors</span>
        </a>
        <a href="#">
          <span>Become a Brand Ambassador</span>
        </a>
      </div>
    </div>
  </div>
</section>
{% comment %} Brand Ambassador Section : END {% endcomment %}

{% comment %} Newsletter Section : BEGIN {% endcomment %}
<section>
  <div>
    <div>
      <h2>Stay in the Loop</h2>
      <p>Crank it up with tips and recipes by subscribing</p>
      <form>
        <label for="stayInTheLoop"> Your email address
        </label>
        <input id="stayInTheLoop" name="stayInTheLoop" type="email" placeholder="Email">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div>
    <img src="https://via.placeholder.com/740x430" alt="Placeholder">
  </div>
</section>
{% comment %} Newsletter Section : END {% endcomment %}