<section>
  <div>
    <!-- Product Images -->
    <div>
      <figure>
      <img src="" alt="">
    </figure>
    </div>
    <!-- Product Info -->
    <div>
      <h1>LoCo 90 QT Boiler</h1>
      <p>$799.99</p>
      <div>
      <p>The LoCo 90 QT Crawfish Boiler’s unique patent pending V-shaped QuickBoil Pot, SureSpark™ Ignition switch and dual jet burners quickly bring water to a boil, so you can cook up a party for up to 15 of your closest friends (and a few strangers) in a snap.</p>
      </div>
      <!-- Ratings/Reviews -->
      <div>
        <p></p>
      </div>
      <!-- Actions -->
      <div>
        <button class="btn btn--primary">Add to Cart</button>
        <button class="btn btn--dark">Add to Wishlist</button>
      </div>
      <!-- Partners -->
      <ul>
        <li>
          <span>Bucee's</span>
        </li>
        <li>
          <span>Amazon</span>
        </li>
        <li>
          <span>Home Depot</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Image Grid -->
<section>
  <div>
    <figure>
      <img src="" alt="">
    </figure>
    <figure>
      <img src="" alt="">
    </figure>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
</section>