---
layout: layouts/base.liquid
---


<section style="padding: 64px 1.25rem;">
<div class="container">
<ul class="collection-items">
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  <li class="collection-item">
    <article class="collection-item__wrapper">
      <header class="collection-item__image">
       <a class="collection-item__link" href="#">
        <img src="/assets/images/boiler.jpg" alt="Boiler">
        <span class="collection-item__action">
          <span class="btn btn--primary">Buy Now</span>
        </span>
        </a>
        <div class="collection-item__overlay"></div>
      </header>
      <div class="collection-item__content">
        <h3 class="collection-item__title">
          Propane Cart Boiler, 90 Quart
          
        </h3>
        <p class="collection-item__price">
        $799.99
        </p>
      </div>
    </article>
  </li>
  
</ul>

</div>

</section>