---
layout: layouts/base.liquid
---

{% comment %} Hero Section : BEGIN {% endcomment %}
<section class="lead">
  <div class="lead__overlay"></div>

  <div class="flexEmbed">
    <div class="flexEmbed__ratio flexEmbed__ratio--header"></div>
    <img class="flexEmbed__content" src="/assets/images/about.jpg" alt="placeholder" />
  </div>
  <div class="lead__content">
    <div class="lead__text">
      <div class="prose">
        <h1 class="heading heading--display">
          Shop LoCo
        </h1>
      </div>
    </div>
  </div>
</section>
{% comment %} Hero Section : END {% endcomment %}

<section class="collection-featured">
  <article class="card card--bg">
    <div class="card__hero">
      <img class="card__hero-object" src="/assets/images/boiler-card.jpg" alt="">
    </div>
    <div class="card__content">
      <h2>
      <span class="eyebrow eyebrow--tiny">Cart Boilers</span>
      LoCo's 90 QT Boiler
      </h2>
      <a class="btn btn--small btn--primary">Buy Now</a>
    </div>
  </article>
  <article class="card card--bg">
    <div class="card__hero">
      <img class="card__hero-object" src="/assets/images/boiler-card.jpg" alt="">
    </div>
    <div class="card__content">
      <h2>
      <span class="eyebrow eyebrow--tiny">Cart Boilers</span>
      LoCo's 90 QT Boiler
      </h2>
      <a class="btn btn--small btn--primary">Buy Now</a>
    </div>
  </article>
</section>

<section style="padding: 64px 1.25rem;">
  <div class="container">
    <ul class="collection-menu">

      <li class="collection-menu__item ">
        <a class="collection-menu__link is-active" href="#" title="Link to All Collection">
          All
        </a>
      </li>

      <li class="collection-menu__item">
        <a class="collection-menu__link " href="#" title="Link to ..." aria-current="">
          Cart Boilers
        </a>
      </li>

      <li class="collection-menu__item">
        <a class="collection-menu__link " href="#" title="Link to ..." aria-current="">
          Boiling Kits
        </a>
      </li>

      <li class="collection-menu__item">
        <a class="collection-menu__link " href="#" title="Link to ..." aria-current="">
          Fryers
        </a>
      </li>

      <li class="collection-menu__item">
        <a class="collection-menu__link " href="#" title="Link to ..." aria-current="">
          Pots
        </a>
      </li>

      <li class="collection-menu__item">
        <a class="collection-menu__link " href="#" title="Link to ..." aria-current="">
          Stands
        </a>
      </li>


    </ul>

    <ul class="collection-items">
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>
      <li class="collection-item">
        <article class="collection-item__wrapper">
          <header class="collection-item__image">
            <a class="collection-item__link" href="#">
              <img src="/assets/images/boiler.jpg" alt="Boiler">
              <span class="collection-item__action">
                <span class="btn btn--primary">Buy Now</span>
              </span>
            </a>
            <div class="collection-item__overlay"></div>
          </header>
          <div class="collection-item__content">
            <h3 class="collection-item__title">
              Propane Cart Boiler, 90 Quart

            </h3>
            <p class="collection-item__price">
              $799.99
            </p>
          </div>
        </article>
      </li>

    </ul>

  </div>

</section>